<!DOCTYPE html>
<html>

<head>
    <%- include('partials/header')%>
</head>

<body class="app">
<div id="loader">
    <div class="spinner"></div>
</div>
<script>
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>
<div>
    <%- include('partials/sidebar')%>
    <div class="page-container">
        <%- include('partials/menu') %>
        <main class="main-content">
            <div id="mainContent">
                <h4 class="c-grey-900 mT-10 mB-30">Unload Process (Without Weighment)</h4>
                <div class="row gap-20 masonry pos-r">
                    <div class="masonry-sizer col-md-12"></div>

                    <div class="masonry-item col-md-12">
                        <div class="form-header">
                            <h6>Unload Process-SCM Stores</h6>
                        </div>
                        <div class="bgc-white p-20 bd">
                            <div class="mT-30">
                                <form>
                                    <div class="form-row mB-20">
                                        <div class="form-group col-md-6 row">
                                            <label for="rfid_number" class="col-sm-4 col-form-label">RFID Token</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="rfid_number" placeholder="Scan the token & No will be displayed">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 row">
                                            <label for="inward_type" class="col-sm-4 col-form-label">Inward Type</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" disabled id="inward_type" placeholder="Display">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row mB-20">
                                        <div class="form-group col-md-6 row">
                                            <label for="supplier_name" class="col-sm-4 col-form-label">Supplier Name</label>
                                            <div class="col-sm-8">
                                                    <input type="text" class="form-control" disabled id="supplier_name" placeholder="Display">
                                                
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 row">
                                            <label for="po_reference" class="col-sm-4 col-form-label">PO Refrence</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" disabled id="po_reference" placeholder="Display">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-row mB-20">
                                        <div class="form-group col-md-6 row">
                                            <label for="invoice_qty" class="col-sm-4 col-form-label">Invoice no/DC no</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" disabled id="invoice_qty" placeholder="Display">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 row">
                                            <label for="received_qty" class="col-sm-4 col-form-label">RGB No</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" disabled id="received_qty" placeholder="Display">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row mB-20">
                                        <div class="form-group col-md-6 row">
                                            <label for="invoice_qty" class="col-sm-4 col-form-label">Invoice Qty</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" disabled id="invoice_qty" placeholder="Display">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 row">
                                            <label for="received_qty" class="col-sm-4 col-form-label">Received Qty</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" disabled id="received_qty" placeholder="Display">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-row mB-20 table-responsive">
                                        <table class="table form-table">
                                            <thead class="thead-blue">
                                            <tr>
                                                <th scope="col">Item code</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Invoice Quantity</th>
                                                <th scope="col">No Of Bags</th>
                                                <th scope="col">Rec.Quantity</th>
                                                <th scope="col">Batch No</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">Display</th>
                                                <td>Display</td>
                                                <td>Display</td>
                                                <td>Display</td>
                                                <td>Display</td>
                                                <td width="25%">
                                                    <table class="quantity_table">
                                                        <tr>
                                                            <td><input type="text" class="form-control" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="text" class="form-control" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="text" class="form-control" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div class="form-group row form-btn-group">
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-secondary btn-block">Clear</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-save btn-block">Save</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-submit btn-block">Submit</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-secondary btn-block">EXIT</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('partials/footer')%>
    </div>
</div>
<%- include('partials/script') %>
</body>

</html>